@import 'https://fonts.googleapis.com/css?family=Montserrat+Subrayada:700|Vampiro+One|Open+Sans';

body {
  background-color: #FAFAFA;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}


#title {
  padding-top: 20px;
  text-align: center;
}

.main {
  margin-top: 50px;
}

.header {
    font-size: 3em;
    font-family: 'Montserrat Subrayada', sans-serif;
    color: #e7626c;
}

.tabs {
    height: 80px;
    padding-top: 10px;
    position: relative;
       top: 250px;
       transition: transform 1.2s ease-in-out;
    transform: translate3d(0px, 0px, 0px);
}

.tabs-top {
  padding-top: 10px;
  height: 80px;
  position: relative;
      top: 250px;
      transition: transform 1.2s ease-in-out;
  transform: translate3d(0px, -250px, 0px);
}

.avatar {
  height: 150px;
  width: auto;
}

.users-center {
  text-align: center;
}