@import 'https://fonts.googleapis.com/css?family=Montserrat+Subrayada:700|Vampiro+One|Open+Sans';

body {
  background-color: #FAFAFA;
  /*background-color: #fff;*/
/*  background-color: #ff6a6a; */
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

h1 {
  color: #212121;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: #212121;
  text-decoration: none;
}

a:active {
  font-weight: bold;
}

a:hover {
  color: #000;
}

#title h1 a {
  color: #e7626c;
}

.fa {
  font-size: 2em;
  color: #E94C4C;
  /*color: #f7f7f7;*/
}

#title {
  padding-top: 20px;
  text-align: center;
}

.logo {
  width: 100px;
  height: auto;
}

#about,
#projects,
#contact,
#blog {
  /*border: 2px solid #212121;*/
  display: inline-block;
  text-align: center;
  /*background-color: #FAFAFA;*/
}

#about .fa {
  color: #FF9800;
}

#projects .fa {
  color: #4CAF50;
}

#contact .fa {
  color: #2196F3;
}

#blog .fa {
  color: #9C27B0;
}

.main-content {
/*  border: 2px solid #ff4949; */
  margin: 20px 0px; 
  width: 80%;
  height: 80%;
  padding: 10%;
/*  height: 450px; */
/*  overflow: scroll; */
  background-color: #e7e7e7;
}


.header {
    font-size: 3em;
    font-family: 'Montserrat Subrayada', sans-serif;
}

.header-top {
  font-size: 2.5em;
  color: darkgrey;
  font-family: 'Montserrat Subrayada', sans-serif;
}

.tabs {
    height: 80px;
    padding-top: 10px;
    position: relative;
       top: 250px;
       transition: transform 1.2s ease-in-out;
    transform: translate3d(0px, 0px, 0px);
}

.tabs-top {
  padding-top: 10px;
  height: 80px;
  position: relative;
      top: 250px;
      transition: transform 1.2s ease-in-out;
  transform: translate3d(0px, -250px, 0px);
}

.tabs a.active { 
  font-weight: bolder;
}

.avatar {
  height: 150px;
  width: auto;
}