<div class="row">
  <div class="six columns offset-by-three">
    <h5>Login</h5>
  </div>
</div>
<form ng-submit="login.submit()">
  <div class="row">
    <input type="email" name="email" ng-model="login.credentials.email" placeholder="Email" class="six columns offset-by-three">
  </div>
  <div class="row">
    <input type="password" name="password" ng-model="login.credentials.password" placeholder="Password" class="six columns offset-by-three">
  </div>
  <div class="row">
    <input type="submit" value="Submit" class="btn btn-primary six columns offset-by-three">
  </div>
</form>

<div class="row">
  <button class="button-primary six columns offset-by-three" ng-click="login.authenticate('facebook')">Sign in with facebook</button>
</div>
