<div class="row">
  <div class="six columns offset-by-three">
    <h5>Register</h5>
  </div>
</div>
<form ng-submit="register.submit()">
  <div class="row">
    <input type="text" name="first_name" class="six columns offset-by-three" ng-model="register.user.first_name" placeholder="First Name">
  </div>
  <div class="row">
    <input type="text" name="last_name" class="six columns offset-by-three" ng-model="register.user.last_name" placeholder="Last Name">
  </div>
  <div class="row">
   <input type="text" name="avatar" class="six columns offset-by-three" ng-model="register.user.avatar" placeholder="Avatar URL">
  </div>
  <div class="row">
    <input type="email" name="email" class="six columns offset-by-three" ng-model="register.user.email" placeholder="Email">
  </div>
  <div class="row">
    <input type="password" name="password" class="six columns offset-by-three" ng-model="register.user.password" placeholder="Password">
  </div>
  <div class="row">
   <input type="password" name="passwordConfirmation" class="six columns offset-by-three" ng-model="register.user.passwordConfirmation" placeholder="Password confirmation">
  </div>
  <div class="row">
  <input type="submit" value="Submit" class="btn btn-primary six columns offset-by-three">
  </div>
</form>
